---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="René Galindo" hideFooter>
  <div class="space-y-6 leading-relaxed">
    <p>
      Hello, I'm René Galindo.
    </p>

    <p>
      I love <a href="/stack" >using</a> and building software. I've designed products and led teams for companies like Cabify, Invopop, and Factorial. Check out my <a href="/work" >work</a>.
    </p>

    <p>
      I also make <a href="https://blank.page" target="_blank" rel="noopener noreferrer">blank.page</a>. It's the simplest way to write online, and it's always on your browser. Try it!
    </p>

    <p>
      I've been writing on the internet since 2016. Subscribe to my <a href="https://encontrandoelformato.substack.com/" target="_blank" rel="noopener noreferrer">newsletter</a>, or <a href="http://shuffle.renegalindo.com/" target="_blank" rel="noopener noreferrer">shuffle</a> through the 1,556 posts.
    </p>

    <p>
      See what I'm up to <a href="/now" >now</a>, or say <a href="https://www.linkedin.com/in/renegalindo/" target="_blank" rel="noopener noreferrer">hello</a>.
    </p>

  </div>
</BaseLayout>
