---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Stack" description="Tools and software I use">
  <div class="space-y-8">
    <p class="text-gray-700">
      Inspired by Brian Lovin's <a href="https://brianlovin.com/stack">stack</a>, this is a brief list of the apps I use daily.
    </p>

    <div class="space-y-8">
      <section>
        <h2 class="font-medium mb-3">Design</h2>
        <ul class="space-y-2 text-gray-700">
          <li>Claude Code. Product definition and prototyping</li>
          <li>Cursor. For frontend details and manual tweaks</li>
          <li>Figma. Quick, disposable UI and visual explorations</li>
        </ul>
      </section>

      <section>
        <h2 class="font-medium mb-3">Productivity</h2>
        <ul class="space-y-2 text-gray-700">
          <li>Things. Task management</li>
          <li>Raycast. Launcher</li>
          <li>Simplify Gmail. Underrated Chrome extension that makes Gmail surpisingly clean. </li>
          <li>Fantastical. Task management for Mac and iOS. </li>
          <li>Ulysses. Long-form writing</li>
          <li>Notion. Notes, docs</li>
        </ul>
      </section>
    </div>
  </div>
</BaseLayout>
